Package: com.ryannair05.cask
Name: Cask 2
Depends: mobilesubstrate, preferenceloader, firmware (>= 13.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Animated table scrolling 
Maintainer: Ryan Nair
Author: Ryan Nair
Section: Tweaks
