Package: com.rpetrich.cask
Section: Tweaks
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Version: 0.0.1
Depends: firmware (>= 8.0), mobilesubstrate (>= 0.9.5000), preferenceloader
Description: Animated table scrolling inspired by Google Plus
Name: Cask
Homepage: http://rpetri.ch/cydia/cask/
Depiction: http://rpetri.ch/cydia/cask/
Author: Ryan Petrich <rpetrich@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
dev: rpetrich
Tag: purpose::extension
